html {
	background-color: black;
	font-size: 16px;
	font-family: 'Courier New', Courier, monospace;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	margin: 20px 20px;
	padding: 2%;
	background-color: white;
	height: 100%;
}

p {
	text-align: justify;
}

header {
	padding: 35px 50px 10px 50px;
	text-align: left;
	font-size: 24px;
	font-family: 'Courier New', Courier, monospace;
	background-color: inherit;
}

nav {
	width: 100%;
	padding: 10px;
	margin: 10px -10px;
	background-color: #333;
	height: 45px;
	font-family: 'Courier New', Courier, monospace;
}

nav ul {
	list-style-type: none;
	padding: 0px;
	display: inline;
	margin: 0;
	overflow: hidden;
	background-color: #333;
}

nav li {
	float: left;
	vertical-align: middle;
}

nav li a, .dropbtn {
	display: inline-block;
	color: white;
	background-color: #333;
	text-align: center;
	vertical-align: middle;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover, .dropbtn:hover .dropbtn {
	background-color: #111;
}

.active {
	background-color: #818181;
}

.content {
	margin-bottom: auto;
}

article {
	float: left;
	padding: 10px 10px;
	width: 95%;
	height: 95%;
}

section:after {
	content: "";
	display: table;
	clear: both;
}

.footer {
	flex-shrink: 0;
	text-align: center;
	padding: 10px;
	font-family: 'Courier New', Courier, monospace;
}

@media (max-width: 250px) {
	nav, article {
		width: 100%;
		height: auto;
	}
}
